# << Ansible managed file >>

[uwsgi]

{% if uwsgi_daemon_config_defaults is defined %}
{%   for (k,v) in uwsgi_daemon_config_defaults.iteritems() %}
{{k}} = {{v}}
{%   endfor %}
{% endif%}

{% if uwsgi_vassals_enabled %}
emperor = {{uwsgi_vassals_enabled_dir}}
{% endif %}

{% if uwsgi_daemon_config is defined %}
{%   for (k,v) in uwsgi_daemon_config.iteritems() %}
{{k}} = {{v}}
{%   endfor %}
{% endif%}

